@import "variables";
@import "reset";
@import "fonts";

* {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	box-sizing: border-box;
	font-family: inherit;
}

html {
	height: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	//scroll-behavior: smooth;

	@include responsiveSize(14, 16);
	font-family: $font-family-quattro;
	font-weight: normal;
	-webkit-text-size-adjust: 100%;
}

body {
	height: 100%;

	color: $text-color;
	background: $background-color;

	&.ReactModal__Body--open {
		overflow: hidden;
	}

	&::after {
		content: '';
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		display: block;

		background:
			linear-gradient(
				rgba(18, 16, 16, 0) 50%,
				rgba(0, 0, 0, 0.25) 50%
			),
			linear-gradient(
				90deg,
				rgba(255, 0, 0, 0.06),
				rgba(0, 255, 0, 0.02),
				rgba(0, 0, 255, 0.06)
			);
		background-size: 100% 2px, 3px 100%;
		pointer-events: none;
	}
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: size(1400);
	margin: auto;
}

main {
	display: flex;
	//align-items: center;
	justify-content: center;
	flex: 1;
	padding: size($spacer);

	> * {
		width: 100%;
		min-height: 100%;
	}
}

p {
	line-height: 1.7em;

	&:not(:last-child) {
		margin-bottom: size(15);
	}
}

a {
	color: $text-color;

	&:hover {
		text-decoration-thickness: size(2);
	}
}

hr {
	margin: size($spacer);
	text-align: center;
	border: none;

	&::after {
		content: '';
		display: inline-block;
		width: size(50);
		height: size(4);

		background-image:
			radial-gradient($text-color 1px, transparent 1px),
			radial-gradient($text-color 1px, transparent 1px);
		background-position: 0 0, 2px 2px;
		background-size: 4px 4px;
	}
}

code {
	display: inline-block;
	padding: size(1) size(3);
	color: $background-color;
	font-family: $font-family-mono;
	background-color: $text-color;
	border-radius: size(3);
}
