@import "./variables";

.themeLight {
	--primary: #242426;
	--secondary: #F4F2EF;

	::selection {
		background-color: change-color(#242426, $alpha: 0.25);
	}
}

.themeDark {
	--primary: #F4F2EF;
	--secondary: #242426;

	::selection {
		background-color: change-color(#F4F2EF, $alpha: 0.25);
	}
}

.themeGameboy {
	--primary: #a0cf0a;
	--secondary: #003f00;

	::selection {
		background-color: change-color(#a0cf0a, $alpha: 0.25);
	}
}

.themeSystem {
	@media (prefers-color-scheme: dark) {
		--primary: #F4F2EF;
		--secondary: #242426;

		::selection {
			background-color: change-color(#F4F2EF, $alpha: 0.25);
		}
	}

	@media (prefers-color-scheme: light) {
		--primary: #242426;
		--secondary: #F4F2EF;

		::selection {
			background-color: change-color(#242426, $alpha: 0.25);
		}
	}
}

.fontMono { font-family: $font-family-mono }
.fontDuo { font-family: $font-family-duo }
.fontQuattro { font-family: $font-family-quattro }
