@import "../../styles/variables";

.label {
	display: block;

	&:not(:last-child) {
		margin-bottom: size(24);
	}

	span {
		display: block;
		margin-bottom: size(4);
	}
}

.input {
	display: block;
	width: 100%;
	padding: size(7) 0;

	color: inherit;
	font-size: size(20);
	text-indent: size(12);

	appearance: none;
	background: $background-color;
	border: size(2) solid $text-color;
	outline: none;
	box-shadow: none;

	&:hover {
		outline: size(1) solid $text-color;
	}

	&:focus {
		outline: size(2) solid $text-color;
	}
}
