@import "../../styles/variables";

.button {
	display: inline-block;
	padding: size(10) size(24);

	color: $background-color;
	font-size: size(18);
	text-align: center;
	text-decoration: none;

	appearance: none;
	background: $text-color;
	border: none;
	border-radius: 0;
	cursor: pointer;

	&:hover {
		box-shadow: inset 0 0 0 size(1) $background-color;
		outline: size(2) solid $text-color;
	}

	&:disabled {
		opacity: 0.25;
		pointer-events: none;
	}
}

.wide {
	width: 100%;
}
