@import "../../styles/variables";

.wrap {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: size($spacer);
}

.aside {
	grid-column: span 3;
	margin-right: size($spacer);

	ul {
		margin-bottom: size($spacer);
		padding-bottom: size($spacer);

		border-bottom: 2px dotted $text-color;

		a {
			display: block;
			padding: size(5) 0;
		}
	}
}

.content {
	grid-column: span 9;
}
